<div class=" p-3 bg-white rounded-lg card flex items-center space-x-4" style="margin-bottom:1rem;">
    <!-- llamar al boton de crear pagos -->
    <button pButton type="button" label="Crear Pago" icon="pi pi-plus" (click)="abrirDialog()" [disabled]="!puedeCrearPago" pTooltip="Solo puedes crear pagos el día 16 de cada mes"></button>
    <app-crearpagos [(visible)]="modalVisible" (pagoCreado)="onPagoCreado($event)" ></app-crearpagos>
</div>
<!--HTML PARA CREAR EL PAGO-->
<div class=" p-3 bg-white rounded-lg card">
    <p-table [value]="pagos" [tableStyle]="{ 'min-width': '50rem' }" showGridlines paginator="true" [rows]="5"
        [showCurrentPageReport]="true">
        <ng-template #header>
            <tr>
                <th>Forma de pago</th>
                <th>Usuario pagó</th>
                <th>Usuario recibió</th>
                <th>Fecha del pago</th>
                <th>Hora del pago</th>
                <th>Cantidad</th>
                <th>Cantidad en texto</th>
                <th>Evidencia</th>
                <th>Estado</th>
            </tr>
        </ng-template>
        <ng-template #body let-pago>
            <tr>
                <td>{{ pago.txtFormaPago }}</td>
                <td>{{ pago.txtUsuarioPaga }}</td>
                <td>{{ pago.txtUsuarioRecibe }}</td>
                <td>{{ pago.dFechaPago }}</td>
                <td>{{ pago.tHoraPago }}</td>
                <td>{{ pago.txtMontoPagar }}</td>
                <td>{{ pago.txtMongoPagarTexto }}</td>
                <td class="cursor-pointer">
                    <img *ngIf="pago.url_evidencia" [src]="pago.url_evidencia" alt="Evidencia" width="60" height="60"
                        style="border-radius: 8px; object-fit: cover;" (click)="abrirImagen(pago.url_evidencia)"/>
                    <span *ngIf="!pago.url_evidencia">Sin imagen</span>
                </td>
                <td><p-tag [value]="pago.estado_name" [severity]="getSeverity(pago.estado_name)" /></td>
                
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog 
  header="Evidencia de Pago" 
  [(visible)]="mostrarImagen" 
  [modal]="true" 
  [closable]="true" 
  (onHide)="cerrarImagen()"
  [style]="{width: 'auto'}"
>
  <img 
    *ngIf="imagenSeleccionada"
    [src]="imagenSeleccionada" 
    alt="Evidencia ampliada" 
    style="max-width: 100%; max-height: 80vh;"
  />
</p-dialog>
