USE [BB_Authentication]
GO
/****** Object:  Table [dbo].[estado_detalle]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_detalle](
	[estado_id] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[id] [tinyint] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_items]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[path] [nvarchar](255) NULL,
	[icon] [nvarchar](50) NULL,
	[parent_id] [int] NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_menu]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_menu](
	[role_id] [int] NOT NULL,
	[menu_item_id] [int] NOT NULL,
 CONSTRAINT [PK_role_menu] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[menu_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
 CONSTRAINT [PK_rp] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_detalleprocesos]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_detalleprocesos](
	[detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[txt_oferente] [varchar](200) NULL,
	[txt_proforma] [varchar](500) NULL,
	[txt_fecha_proforma] [varchar](500) NULL,
	[txt_codigo_proceso] [varchar](500) NULL,
	[txt_entidad_contratante] [varchar](500) NULL,
	[txt_objeto_compra] [varchar](500) NULL,
	[int_valor_contrato] [int] NULL,
	[txt_plazocontractual] [varchar](100) NULL,
	[txt_firmacontrato] [varchar](100) NULL,
	[txt_fechafin] [varchar](100) NULL,
	[txt_fechaentrega] [varchar](100) NULL,
	[int_diasmora] [int] NULL,
	[estado_id] [int] NULL,
	[txtUsuarioRegistra] [varchar](100) NULL,
	[dFechaRegistro] [date] NOT NULL,
	[tTimeHora] [time](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_email]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_email](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nomber] [varchar](500) NULL,
	[emails] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_informacion]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_informacion](
	[proforma_id] [int] IDENTITY(1,1) NOT NULL,
	[txt_cliente] [varchar](255) NULL,
	[txt_ruc] [varchar](13) NULL,
	[txt_direccion] [varchar](255) NULL,
	[txt_fecha] [varchar](30) NULL,
	[txt_telefono] [varchar](11) NULL,
	[txt_necesidad] [varchar](255) NULL,
	[txt_funcionario] [varchar](255) NULL,
	[txt_correo] [varchar](255) NULL,
	[tHora_maxina] [varchar](255) NULL,
	[txt_objetivoCompra] [varchar](255) NULL,
	[dFechaRegistro] [date] NOT NULL,
	[tTimeHora] [time](0) NOT NULL,
	[txt_plazoEntrega] [varchar](255) NULL,
	[txt_vigenciaOferta] [varchar](255) NULL,
	[txt_garantia] [varchar](255) NULL,
	[txt_formaPago] [varchar](255) NULL,
	[txt_metodologiaTrabajo] [varchar](255) NULL,
	[txt_enlace] [varchar](255) NULL,
	[txt_infimaNro] [varchar](255) NULL,
	[estado_id] [tinyint] NULL,
	[txtUsuarioRegistra] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[proforma_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_items]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_items](
	[items_id] [int] IDENTITY(1,1) NOT NULL,
	[txt_cpc] [varchar](255) NULL,
	[txt_unidad] [varchar](255) NULL,
	[txt_especificaciones] [varchar](255) NULL,
	[int_cantidad] [int] NULL,
	[flo_precioUnitario] [float] NULL,
	[flo_precioTotal] [float] NULL,
	[flo_total] [float] NULL,
	[proforma_id] [int] NULL,
	[dFechaRegistro] [date] NOT NULL,
	[tTimeHora] [time](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[items_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_pagos]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_pagos](
	[idPagos] [int] IDENTITY(1,1) NOT NULL,
	[txtFormaPago] [varchar](100) NOT NULL,
	[txtUsuarioPaga] [varchar](100) NOT NULL,
	[txtUsuarioRecibe] [varchar](100) NOT NULL,
	[dFechaPago] [date] NOT NULL,
	[tHoraPago] [time](7) NOT NULL,
	[txtUsuarioCorreo] [varchar](100) NULL,
	[txtMontoPagar] [float] NOT NULL,
	[txtMongoPagarTexto] [varchar](255) NULL,
	[estado_id] [tinyint] NULL,
	[dFechaRegistro] [date] NOT NULL,
	[tTimeHora] [time](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPagos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_menu]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_menu](
	[user_id] [int] NOT NULL,
	[menu_item_id] [int] NOT NULL,
 CONSTRAINT [PK_user_menus] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[menu_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_menu_override]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_menu_override](
	[user_id] [int] NOT NULL,
	[menu_item_id] [int] NOT NULL,
	[is_allowed] [bit] NOT NULL,
 CONSTRAINT [PK_user_menu] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[menu_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_user_roles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15/9/2025 18:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[hashed_password] [nvarchar](128) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[estado_detalle] ON 

INSERT [dbo].[estado_detalle] ([estado_id], [estado]) VALUES (1, N'PAGADO')
SET IDENTITY_INSERT [dbo].[estado_detalle] OFF
GO
INSERT [dbo].[estados] ([id], [name]) VALUES (3, N'ACEPTADA')
INSERT [dbo].[estados] ([id], [name]) VALUES (1, N'CREADA')
INSERT [dbo].[estados] ([id], [name]) VALUES (2, N'ENVIADA')
GO
SET IDENTITY_INSERT [dbo].[menu_items] ON 

INSERT [dbo].[menu_items] ([id], [name], [path], [icon], [parent_id], [sort_order]) VALUES (1, N'Cotizaciones', N'', N'pi pi-folder', NULL, 1)
INSERT [dbo].[menu_items] ([id], [name], [path], [icon], [parent_id], [sort_order]) VALUES (2, N'Crear Cotización', N'/menu-principal/cotizaciones', N'pi pi-book', 1, 2)
INSERT [dbo].[menu_items] ([id], [name], [path], [icon], [parent_id], [sort_order]) VALUES (3, N'Listar Cotizaciones', N'/menu-principal/listar-cotizaciones', N'pi pi-list', 1, 2)
SET IDENTITY_INSERT [dbo].[menu_items] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id], [name]) VALUES (2, N'create')
INSERT [dbo].[permissions] ([id], [name]) VALUES (4, N'delete')
INSERT [dbo].[permissions] ([id], [name]) VALUES (1, N'list')
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
INSERT [dbo].[role_permissions] ([role_id], [permission_id]) VALUES (1, 1)
INSERT [dbo].[role_permissions] ([role_id], [permission_id]) VALUES (1, 2)
INSERT [dbo].[role_permissions] ([role_id], [permission_id]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name], [description]) VALUES (1, N'admin', N'adminrol')
INSERT [dbo].[roles] ([id], [name], [description]) VALUES (2, N'user', N'usuario con el usuario')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_detalleprocesos] ON 

INSERT [dbo].[tb_detalleprocesos] ([detalle_id], [txt_oferente], [txt_proforma], [txt_fecha_proforma], [txt_codigo_proceso], [txt_entidad_contratante], [txt_objeto_compra], [int_valor_contrato], [txt_plazocontractual], [txt_firmacontrato], [txt_fechafin], [txt_fechaentrega], [int_diasmora], [estado_id], [txtUsuarioRegistra], [dFechaRegistro], [tTimeHora]) VALUES (1, N'JHON', N'0001', N'2025-05-04', N'NIC-000001', N'SN', N'SN', 200, N'2', N'2025-05-12', N'SN', N'SN', 0, 1, N'JHON', CAST(N'2025-08-29' AS Date), CAST(N'12:53:37' AS Time))
INSERT [dbo].[tb_detalleprocesos] ([detalle_id], [txt_oferente], [txt_proforma], [txt_fecha_proforma], [txt_codigo_proceso], [txt_entidad_contratante], [txt_objeto_compra], [int_valor_contrato], [txt_plazocontractual], [txt_firmacontrato], [txt_fechafin], [txt_fechaentrega], [int_diasmora], [estado_id], [txtUsuarioRegistra], [dFechaRegistro], [tTimeHora]) VALUES (2, N'DAYANA', N'002', N'2025-05-05', N'NIC-0002', N'SN', N'SN', 10, N'12', N'2025-05-06', N'2025-05-04', N'2025-09-09', 2, 1, N'JHON', CAST(N'2025-08-29' AS Date), CAST(N'12:56:17' AS Time))
SET IDENTITY_INSERT [dbo].[tb_detalleprocesos] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_email] ON 

INSERT [dbo].[tb_email] ([id], [nomber], [emails]) VALUES (1, N'jhon zambrano', N'zambranomaciasjhon@gmail.com')
SET IDENTITY_INSERT [dbo].[tb_email] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_informacion] ON 

SET IDENTITY_INSERT [dbo].[tb_informacion] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_items] ON 

INSERT [dbo].[tb_items] ([items_id], [txt_cpc], [txt_unidad], [txt_especificaciones], [int_cantidad], [flo_precioUnitario], [flo_precioTotal], [flo_total], [proforma_id], [dFechaRegistro], [tTimeHora]) VALUES (1, N'319220213', N'UNIDAD', N'Papel periódico pliegos', 20, 0.75, 75, 75, 2, CAST(N'2025-08-01' AS Date), CAST(N'10:29:41' AS Time))
INSERT [dbo].[tb_items] ([items_id], [txt_cpc], [txt_unidad], [txt_especificaciones], [int_cantidad], [flo_precioUnitario], [flo_precioTotal], [flo_total], [proforma_id], [dFechaRegistro], [tTimeHora]) VALUES (2, N'1111', N'UNIDAD', N'n', 7, 45.5, 80, 80, 3, CAST(N'2025-08-01' AS Date), CAST(N'11:52:15' AS Time))
INSERT [dbo].[tb_items] ([items_id], [txt_cpc], [txt_unidad], [txt_especificaciones], [int_cantidad], [flo_precioUnitario], [flo_precioTotal], [flo_total], [proforma_id], [dFechaRegistro], [tTimeHora]) VALUES (3, N'3891107110', N'UNIDAD', N'MINAS 0.7 MM (TUBO 12 MINAS), MINAS DE LAPIZ 0.7MM HB', 80, 5, NULL, 50, 4, CAST(N'2025-08-02' AS Date), CAST(N'13:49:21' AS Time))
SET IDENTITY_INSERT [dbo].[tb_items] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_pagos] ON 

INSERT [dbo].[tb_pagos] ([idPagos], [txtFormaPago], [txtUsuarioPaga], [txtUsuarioRecibe], [dFechaPago], [tHoraPago], [txtUsuarioCorreo], [txtMontoPagar], [txtMongoPagarTexto], [estado_id], [dFechaRegistro], [tTimeHora]) VALUES (1, N'Efectivo', N'Jhon', N'Dayana', CAST(N'2025-08-08' AS Date), CAST(N'13:22:19' AS Time), N'jhonmacias1999@gmail.com', 200, N'Docientos dolares', 1, CAST(N'2025-08-08' AS Date), CAST(N'13:22:20' AS Time))
INSERT [dbo].[tb_pagos] ([idPagos], [txtFormaPago], [txtUsuarioPaga], [txtUsuarioRecibe], [dFechaPago], [tHoraPago], [txtUsuarioCorreo], [txtMontoPagar], [txtMongoPagarTexto], [estado_id], [dFechaRegistro], [tTimeHora]) VALUES (2, N'Efectivo', N'jhon', N'dayana', CAST(N'2025-08-08' AS Date), CAST(N'18:59:41.3940000' AS Time), N'jhonmacias@gmail.com', 150, N'ciento cincuenta dolares', 1, CAST(N'2025-08-08' AS Date), CAST(N'18:59:41' AS Time))
INSERT [dbo].[tb_pagos] ([idPagos], [txtFormaPago], [txtUsuarioPaga], [txtUsuarioRecibe], [dFechaPago], [tHoraPago], [txtUsuarioCorreo], [txtMontoPagar], [txtMongoPagarTexto], [estado_id], [dFechaRegistro], [tTimeHora]) VALUES (3, N'Efectivo', N'jhon', N'dayana', CAST(N'2025-08-08' AS Date), CAST(N'18:59:41.3940000' AS Time), N'jhonmacias@gmail.com', 150, N'ciento cincuenta dolares', 1, CAST(N'2025-08-08' AS Date), CAST(N'18:59:41' AS Time))
SET IDENTITY_INSERT [dbo].[tb_pagos] OFF
GO
INSERT [dbo].[user_menu] ([user_id], [menu_item_id]) VALUES (1, 1)
INSERT [dbo].[user_menu] ([user_id], [menu_item_id]) VALUES (1, 2)
INSERT [dbo].[user_menu] ([user_id], [menu_item_id]) VALUES (1, 3)
GO
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (2, 1)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [email], [hashed_password], [is_active], [created_at]) VALUES (1, N'jhon', N'jhonmacias1999@gmail.com', N'$2b$12$dCW1PnjE4dfypg/E0MJnUOLfOssA2VIrfdFTiy/qvBxLlhNzPbWsO', 1, CAST(N'2025-07-31T16:36:13.5807780' AS DateTime2))
INSERT [dbo].[users] ([id], [username], [email], [hashed_password], [is_active], [created_at]) VALUES (2, N'jhonm', N'jhonmacias@gmail.com', N'$2b$12$X48bXJHhMFfurcVdnf0Av.WnmmuhSREgxwxo7e1lc1HQVGVK4ytH2', 1, CAST(N'2025-07-31T17:41:55.6407170' AS DateTime2))
INSERT [dbo].[users] ([id], [username], [email], [hashed_password], [is_active], [created_at]) VALUES (3, N'pruebas', N'pruebas@gmail.com', N'$2b$12$yCkPW7AQ5Gwwpq8yT4gC..76n5aCUnsBY64IaMXLSUHO13jS9eoxi', 1, CAST(N'2025-07-31T18:43:35.7758110' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__estados__72E12F1B888BDBF6]    Script Date: 15/9/2025 18:24:17 ******/
ALTER TABLE [dbo].[estados] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__72E12F1B7FC09043]    Script Date: 15/9/2025 18:24:17 ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1B9777A4D9]    Script Date: 15/9/2025 18:24:17 ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tb_email__A0DC84281F13127C]    Script Date: 15/9/2025 18:24:17 ******/
ALTER TABLE [dbo].[tb_email] ADD UNIQUE NONCLUSTERED 
(
	[emails] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616460081361]    Script Date: 15/9/2025 18:24:17 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572D66A522F]    Script Date: 15/9/2025 18:24:17 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[menu_items] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[tb_detalleprocesos] ADD  DEFAULT (CONVERT([date],getdate())) FOR [dFechaRegistro]
GO
ALTER TABLE [dbo].[tb_detalleprocesos] ADD  DEFAULT (CONVERT([time](0),getdate())) FOR [tTimeHora]
GO
ALTER TABLE [dbo].[tb_informacion] ADD  DEFAULT (CONVERT([date],getdate())) FOR [dFechaRegistro]
GO
ALTER TABLE [dbo].[tb_informacion] ADD  DEFAULT (CONVERT([time](0),getdate())) FOR [tTimeHora]
GO
ALTER TABLE [dbo].[tb_items] ADD  DEFAULT (CONVERT([date],getdate())) FOR [dFechaRegistro]
GO
ALTER TABLE [dbo].[tb_items] ADD  DEFAULT (CONVERT([time](0),getdate())) FOR [tTimeHora]
GO
ALTER TABLE [dbo].[tb_pagos] ADD  DEFAULT (CONVERT([date],getdate())) FOR [dFechaRegistro]
GO
ALTER TABLE [dbo].[tb_pagos] ADD  DEFAULT (CONVERT([time](0),getdate())) FOR [tTimeHora]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[menu_items]  WITH CHECK ADD  CONSTRAINT [FK_menu_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[menu_items] ([id])
GO
ALTER TABLE [dbo].[menu_items] CHECK CONSTRAINT [FK_menu_parent]
GO
ALTER TABLE [dbo].[role_menu]  WITH CHECK ADD  CONSTRAINT [FK_rm_menu] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([id])
GO
ALTER TABLE [dbo].[role_menu] CHECK CONSTRAINT [FK_rm_menu]
GO
ALTER TABLE [dbo].[role_menu]  WITH CHECK ADD  CONSTRAINT [FK_rm_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_menu] CHECK CONSTRAINT [FK_rm_role]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_rp_perm] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_rp_perm]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_rp_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_rp_role]
GO
ALTER TABLE [dbo].[tb_detalleprocesos]  WITH CHECK ADD FOREIGN KEY([estado_id])
REFERENCES [dbo].[estado_detalle] ([estado_id])
GO
ALTER TABLE [dbo].[tb_informacion]  WITH CHECK ADD  CONSTRAINT [fk_tbinfo_estado] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[tb_informacion] CHECK CONSTRAINT [fk_tbinfo_estado]
GO
ALTER TABLE [dbo].[tb_items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Informacion] FOREIGN KEY([proforma_id])
REFERENCES [dbo].[tb_informacion] ([proforma_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_items] CHECK CONSTRAINT [FK_Items_Informacion]
GO
ALTER TABLE [dbo].[tb_pagos]  WITH CHECK ADD  CONSTRAINT [FK_PagosEstados] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estados] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_pagos] CHECK CONSTRAINT [FK_PagosEstados]
GO
ALTER TABLE [dbo].[user_menu]  WITH CHECK ADD  CONSTRAINT [FK_user_menu_menus] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([id])
GO
ALTER TABLE [dbo].[user_menu] CHECK CONSTRAINT [FK_user_menu_menus]
GO
ALTER TABLE [dbo].[user_menu]  WITH CHECK ADD  CONSTRAINT [FK_user_menu_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_menu] CHECK CONSTRAINT [FK_user_menu_user]
GO
ALTER TABLE [dbo].[user_menu_override]  WITH CHECK ADD  CONSTRAINT [FK_um_menu] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([id])
GO
ALTER TABLE [dbo].[user_menu_override] CHECK CONSTRAINT [FK_um_menu]
GO
ALTER TABLE [dbo].[user_menu_override]  WITH CHECK ADD  CONSTRAINT [FK_um_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_menu_override] CHECK CONSTRAINT [FK_um_user]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_role]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_user]
GO
