USE [BB_Authentication]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[id] [tinyint] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_items]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[path] [nvarchar](255) NULL,
	[icon] [nvarchar](50) NULL,
	[parent_id] [int] NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_menu]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_menu](
	[role_id] [int] NOT NULL,
	[menu_item_id] [int] NOT NULL,
 CONSTRAINT [PK_role_menu] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[menu_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
 CONSTRAINT [PK_rp] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_email]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_email](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nomber] [varchar](500) NULL,
	[emails] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[emails] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_informacion]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_informacion](
	[proforma_id] [int] IDENTITY(1,1) NOT NULL,
	[txt_cliente] [varchar](255) NULL,
	[txt_ruc] [varchar](13) NULL,
	[txt_direccion] [varchar](255) NULL,
	[txt_fecha] [date] NULL,
	[txt_telefono] [varchar](11) NULL,
	[txt_necesidad] [varchar](255) NULL,
	[txt_funcionario] [varchar](255) NULL,
	[txt_correo] [varchar](255) NULL,
	[tHora_maxina] [varchar](255) NULL,
	[txt_objetivoCompra] [varchar](255) NULL,
	[dFechaRegistro] [date] NOT NULL,
	[tTimeHora] [time](0) NOT NULL,
	[txt_plazoEntrega] [varchar](255) NULL,
	[txt_vigenciaOferta] [varchar](255) NULL,
	[txt_garantia] [varchar](255) NULL,
	[txt_formaPago] [varchar](255) NULL,
	[txt_metodologiaTrabajo] [varchar](255) NULL,
	[txt_enlace] [varchar](255) NULL,
	[txt_infimaNro] [varchar](255) NULL,
	[estado_id] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[proforma_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_items]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_items](
	[items_id] [int] IDENTITY(1,1) NOT NULL,
	[txt_cpc] [varchar](255) NULL,
	[txt_unidad] [varchar](255) NULL,
	[txt_especificaciones] [varchar](255) NULL,
	[int_cantidad] [int] NULL,
	[flo_precioUnitario] [float] NULL,
	[flo_precioTotal] [float] NULL,
	[flo_total] [float] NULL,
	[proforma_id] [int] NULL,
	[dFechaRegistro] [date] NOT NULL,
	[tTimeHora] [time](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[items_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_pagos]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_pagos](
	[idPagos] [int] IDENTITY(1,1) NOT NULL,
	[txtFormaPago] [varchar](100) NOT NULL,
	[txtUsuarioPaga] [varchar](100) NOT NULL,
	[txtUsuarioRecibe] [varchar](100) NOT NULL,
	[dFechaPago] [date] NOT NULL,
	[tHoraPago] [time](7) NOT NULL,
	[txtUsuarioCorreo] [varchar](100) NULL,
	[txtMontoPagar] [float] NOT NULL,
	[txtMongoPagarTexto] [varchar](255) NULL,
	[estado_id] [tinyint] NULL,
	[dFechaRegistro] [date] NOT NULL,
	[tTimeHora] [time](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPagos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_menu]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_menu](
	[user_id] [int] NOT NULL,
	[menu_item_id] [int] NOT NULL,
 CONSTRAINT [PK_user_menus] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[menu_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_menu_override]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_menu_override](
	[user_id] [int] NOT NULL,
	[menu_item_id] [int] NOT NULL,
	[is_allowed] [bit] NOT NULL,
 CONSTRAINT [PK_user_menu] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[menu_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_user_roles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 19/8/2025 11:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[hashed_password] [nvarchar](128) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[menu_items] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[tb_informacion] ADD  DEFAULT (CONVERT([date],getdate())) FOR [dFechaRegistro]
GO
ALTER TABLE [dbo].[tb_informacion] ADD  DEFAULT (CONVERT([time](0),getdate())) FOR [tTimeHora]
GO
ALTER TABLE [dbo].[tb_items] ADD  DEFAULT (CONVERT([date],getdate())) FOR [dFechaRegistro]
GO
ALTER TABLE [dbo].[tb_items] ADD  DEFAULT (CONVERT([time](0),getdate())) FOR [tTimeHora]
GO
ALTER TABLE [dbo].[tb_pagos] ADD  DEFAULT (CONVERT([date],getdate())) FOR [dFechaRegistro]
GO
ALTER TABLE [dbo].[tb_pagos] ADD  DEFAULT (CONVERT([time](0),getdate())) FOR [tTimeHora]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[menu_items]  WITH CHECK ADD  CONSTRAINT [FK_menu_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[menu_items] ([id])
GO
ALTER TABLE [dbo].[menu_items] CHECK CONSTRAINT [FK_menu_parent]
GO
ALTER TABLE [dbo].[role_menu]  WITH CHECK ADD  CONSTRAINT [FK_rm_menu] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([id])
GO
ALTER TABLE [dbo].[role_menu] CHECK CONSTRAINT [FK_rm_menu]
GO
ALTER TABLE [dbo].[role_menu]  WITH CHECK ADD  CONSTRAINT [FK_rm_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_menu] CHECK CONSTRAINT [FK_rm_role]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_rp_perm] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_rp_perm]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_rp_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_rp_role]
GO
ALTER TABLE [dbo].[tb_informacion]  WITH CHECK ADD  CONSTRAINT [fk_tbinfo_estado] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[tb_informacion] CHECK CONSTRAINT [fk_tbinfo_estado]
GO
ALTER TABLE [dbo].[tb_items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Informacion] FOREIGN KEY([proforma_id])
REFERENCES [dbo].[tb_informacion] ([proforma_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_items] CHECK CONSTRAINT [FK_Items_Informacion]
GO
ALTER TABLE [dbo].[tb_pagos]  WITH CHECK ADD  CONSTRAINT [FK_PagosEstados] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estados] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_pagos] CHECK CONSTRAINT [FK_PagosEstados]
GO
ALTER TABLE [dbo].[user_menu]  WITH CHECK ADD  CONSTRAINT [FK_user_menu_menus] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([id])
GO
ALTER TABLE [dbo].[user_menu] CHECK CONSTRAINT [FK_user_menu_menus]
GO
ALTER TABLE [dbo].[user_menu]  WITH CHECK ADD  CONSTRAINT [FK_user_menu_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_menu] CHECK CONSTRAINT [FK_user_menu_user]
GO
ALTER TABLE [dbo].[user_menu_override]  WITH CHECK ADD  CONSTRAINT [FK_um_menu] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([id])
GO
ALTER TABLE [dbo].[user_menu_override] CHECK CONSTRAINT [FK_um_menu]
GO
ALTER TABLE [dbo].[user_menu_override]  WITH CHECK ADD  CONSTRAINT [FK_um_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_menu_override] CHECK CONSTRAINT [FK_um_user]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_role]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_user]
GO
