<div class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="w-full max-w-sm bg-white rounded-lg shadow-md p-6">
    <h2 class="text-2xl font-bold text-gray-800 text-center mb-6">Iniciar Sesión</h2>
    <form (ngSubmit)="iniciarSesion()" #loginForm="ngForm" class="space-y-4">
      <!-- Campo de Usuario -->
      <div>
        <label for="username" class="block text-sm font-medium text-gray-700">Usuario</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500 text-sm text-gray-900" />
      </div>
      <!-- Campo de Contraseña -->
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password"
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500 text-sm text-gray-900" />
      </div>
      <!-- Botón de Enviar -->
      <div>
        <button [disabled]="loginForm.invalid" [ngClass]="{
    'bg-blue-500 hover:bg-blue-600 text-white': !loginForm.invalid,
    'bg-gray-400 text-gray-200 cursor-not-allowed': loginForm.invalid
  }" type="submit"
          class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg focus:outline-none focus:ring focus:ring-blue-300">
          Ingresar
        </button>
      </div>
    </form>
  </div>
</div>