<p-toast />
<div class="p-3 mt-2 bg-[#0898d1] rounded-lg card flex items-center justify-center space-x-4"
  style="margin-bottom:1rem;">
  <h3 class="font-bold text-white font-[Montserrat] text-center">INFORMACIÓN DE CONTACTO</h3>
</div>
<form [formGroup]="cotizacionForm" (ngSubmit)="submit()">
  <!-- Sección de Datos de la Información -->
  <div>
    <div class="grid grid-cols-1 sm:grid-cols-10 gap-4">

      <input pInputText formControlName="txt_cliente" placeholder="Cliente" class="col-span-2 input-field"
        appUppercase />
      <input pInputText formControlName="txt_necesidad" placeholder="Código Necesidad de Contratación"
        class="col-span-2" styleClass="w-full" appUppercase />
      <input pInputText formControlName="txt_ruc" placeholder="RUC" class="bg-gray-200 cursor-not-allowed" readonly />
      <input pInputText formControlName="txt_direccion" placeholder="Dirección" class="col-span-2 input-field"
        appUppercase />

      <input pInputText formControlName="txt_fecha" placeholder="Fecha de Publicación de la Necesidad"
        class="input-field" />
      <input pInputText formControlName="tHora_maxina" placeholder="Fecha Límite para la entrega de Proformas"
        class="input-field" />

      <input pInputText formControlName="txt_telefono" placeholder="Teléfono" class="input-field " />
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-11 gap-4 mt-2">
      <input pInputText formControlName="txt_funcionario" placeholder="Funcionario" class="col-span-2 input-field"
        appUppercase />
      <input pInputText formControlName="txt_correo" placeholder="Correo" class="col-span-2 input-field" />

    </div>
    <div class="text-center mt-5 mb-2">
      <textarea rows="1" cols="150" pTextarea formControlName="txt_objetivoCompra" placeholder="Objeto de Compra"
        [autoResize]="true" appUppercase></textarea>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-9 justify-start items-center gap-4">
      <div>
        <p-floatlabel variant="on">
          <p-inputgroup>
            <p-inputgroup-addon>
              <span>Días</span>
            </p-inputgroup-addon>
            <input pInputText placeholder="Plazo entrega" class="w-full" formControlName="txt_plazoEntrega" />
            <label for="txt_plazoEntrega">Plazo Entrega</label>
          </p-inputgroup>
        </p-floatlabel>
      </div>

      <div>
        <p-floatlabel variant="on">
          <p-inputgroup>
            <p-inputgroup-addon>
              <span>Días</span>
            </p-inputgroup-addon>
            <input pInputText placeholder="Vigencia Oferta" class="w-full" formControlName="txt_vigenciaOferta" />
            <label for="txt_vigenciaOferta">Vigencia Oferta</label>
          </p-inputgroup>
        </p-floatlabel>
      </div>
      <div>
        <p-floatlabel variant="on">
          <p-inputgroup>
            <p-inputgroup-addon>
              <span>Meses</span>
            </p-inputgroup-addon>
            <input pInputText placeholder="Garantia" class="w-full" formControlName="txt_garantia" />
            <label for="txt_garantia">Garantia</label>
          </p-inputgroup>
        </p-floatlabel>
      </div>
      <div class="col-span-2">
        <p-floatlabel variant="on">
          <p-inputgroup>
            <p-inputgroup-addon>
              <span><i class="pi pi-credit-card"></i></span>
            </p-inputgroup-addon>
            <input pInputText placeholder="Forma de pago" class="w-full" formControlName="txt_formaPago" />
            <label for="txt_formaPago">Forma de pago</label>
          </p-inputgroup>
        </p-floatlabel>

      </div>
      <div class="col-span-2">
        <p-floatlabel variant="on">
          <p-inputgroup>
            <p-inputgroup-addon>
              <span><i class="pi pi-book"></i></span>
            </p-inputgroup-addon>
            <input pInputText placeholder="Metodología del trabajo" class="w-full"
              formControlName="txt_metodologiaTrabajo" />
            <label for="txt_metodologiaTrabajo">Metodlogía de trabajo</label>

          </p-inputgroup>
        </p-floatlabel>
      </div>
      <div class="col-span-2">
        <p-inputgroup>
          <p-inputgroup-addon>
            <span><i class="pi pi-link"></i></span>
          </p-inputgroup-addon>
          <input pInputText placeholder="Enlace" class="w-full" formControlName="txt_enlace" />
        </p-inputgroup>
      </div>
    </div>
  </div>

  <!-- Sección de Ítems -->

  <div class="flex flex-row gap-4">
    <div class="flex-grow basis-2/3">
      <div class="p-3 mt-2 bg-[#0898d1] rounded-lg card flex items-center space-x-4 justify-center"
        style="margin-bottom:1rem; ">
        <h3 class="font-bold text-white font-[Montserrat]">ÍTEMS</h3>
      </div>
      <button type="button" (click)="addItem()"
        class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 mb-4">
        + Agregar Ítem
      </button>
      <!-- Diseño tipo tabla -->
      <div class="grid grid-cols-8 gap-2 items-center bg-gray-100 p-2 rounded-t-lg border border-gray-300">
        <span class="font-bold text-gray-700 text-center">ID</span>
        <span class="font-bold text-gray-700 text-center">CPC</span>
        <span class="font-bold text-gray-700 text-center">Unidad</span>
        <span class="font-bold text-gray-700 text-center">Especificaciones</span>
        <span class="font-bold text-gray-700 text-center">Cantidad</span>
        <span class="font-bold text-gray-700 text-center">Precio Unitario</span>
        <span class="font-bold text-gray-700 text-center">Total</span>
        <span class="font-bold text-gray-700 text-center">Acciones</span>
      </div>
      <div formArrayName="items"
        class="space-y-2 max-h-80 overflow-y-auto border-x border-b border-gray-300 rounded-b-lg bg-white">
        <div *ngFor="let itemCtrl of itemsArray.controls; let i = index" [formGroupName]="i"
          class="grid grid-cols-8 gap-4 items-center p-2 border border-gray-300 rounded-lg bg-white">
          <span class="text-center">{{ itemCtrl.get('id')?.value }}</span>
          <input pInputText formControlName="txt_cpc" placeholder="CPC" class="w-full" styleClass="w-full" />
          <input pInputText formControlName="txt_unidad" placeholder="Unidad" class="w-full" styleClass="w-full"
            appUppercase />
          <input pInputText formControlName="txt_especificaciones" placeholder="Especificaciones" class="w-full"
            styleClass="w-full" appUppercase (dblclick)="abrirDialogEspecificacion(i)" />
          <input pInputText type="number" formControlName="int_cantidad" (input)="updateTotals(i)"
            placeholder="Cantidad" class="w-full" styleClass="w-full" />
          <input pInputText type="number" formControlName="flo_precioUnitario" step="0.01" (input)="updateTotals(i)"
            placeholder="Precio Unitario" class="w-full" styleClass="w-full" />
          <input pInputText formControlName="flo_precioTotal" readonly placeholder="Precio Total"
            class="w-full bg-gray-200" styleClass="w-full" />
          <button type="button" (click)="removeItem(i)" class="pi pi-trash">
          </button>
        </div>
      </div>
      <div class="grid grid-cols-7 gap-4 p-4 border-t border-gray-300 bg-gray-50 font-semibold">
        <!-- Ocupamos 5 columnas para la etiqueta -->
        <div class="col-span-5 text-right">Total General:</div>
        <!-- Sexta columna: el valor -->
        <div>{{ totalGeneral | number:'1.2-2' }}</div>
        <!-- Séptima columna: vacía o un espacio -->
        <div></div>
      </div>
    </div>
    <div class="basis-1/3">
      <div class="p-3 mt-2 bg-[#0898d1] rounded-lg card flex items-center space-x-4 justify-center"
        style="margin-bottom:1rem;">
        <h3 class="font-bold text-white font-[Montserrat]">COTIZAR</h3>
      </div>
      <br>
      <br>
      <!-- Cabecera -->
      <div class="grid grid-cols-5 gap-2 items-center bg-gray-100 p-2 rounded-t-lg border border-gray-300">
        <span class="font-bold text-gray-700 text-center">P.U (Cotizar)</span>
        <span class="font-bold text-gray-700 text-center">P.T</span>
        <span class="font-bold text-gray-700 text-center">DIFERENCIA</span>
        <span class="font-bold text-gray-700 text-center">P.U (Base)</span>
        <span class="font-bold text-gray-700 text-center">P.V</span>
      </div>
      <!-- Filas dinámicas -->
      <div class="max-h-80 overflow-y-auto border-x border-gray-300 bg-white">
        <div *ngFor="let itemCtrl of itemsArray.controls; let i = index"
          class="grid grid-cols-5 gap-2 items-center p-2 border-x border-b border-gray-300 bg-white">
          <!-- P.U Cotizar (input libre) -->
          <input type="number" class="w-full border rounded p-1 text-xs" name="puCotizar_{{ i }}"
            [(ngModel)]="cotizarValores[i].puCotizar" [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="calcularCotizar(i)" />

          <!-- P.T = cantidad * P.U Cotizar -->
          <span class="text-center">{{ cotizarValores[i].pt | number:'1.2-2' }}</span>

          <!-- DIFERENCIA (de la tabla principal) -->
          <span class="text-center">{{ cotizarValores[i].diferencia | number:'1.2-2' }}</span>
          <!-- P.U Base (ya ingresado en la tabla principal) -->
          <span class="text-center">{{ itemCtrl.get('flo_precioUnitario')?.value }}</span>
          <!-- P.V = cantidad * P.U Base -->
          <span class="text-center">{{ cotizarValores[i].pv | number:'1.2-2' }}</span>
        </div>
      </div>

      <!-- Totales generales Cotizar -->
      <div class="grid grid-cols-5 gap-2 p-2 border-t border-gray-300 bg-gray-50 font-semibold">
        <div class="text-xs text-right">P.T:</div>
        <div class="text-xs text-center">{{ totalPT | number:'1.2-2' }}</div>


        <div class="text-xs text-center">{{ totalDiferencia | number:'1.2-2' }}</div>

        <div class="text-xs text-right">P.V:</div>
        <div class="text-xs text-center">{{ totalPV | number:'1.2-2' }}</div>
      </div>

    </div>
  </div>

  <!-- Botón de Guardar -->
  <div class="text-right">
    <button type="submit" class="btn-grad  py-3 px-6 rounded-lg">
      Guardar Todo
    </button>
  </div>
</form>


<p-dialog header="Editar Especificaciones" [(visible)]="especificacionDialogVisible" [modal]="true"
  [style]="{width: '25rem',height: '20rem'}">

  <div *ngIf="itemEnEdicionIndex !== null" [formGroup]="getItemFormGroup(itemEnEdicionIndex)">

    <textarea pTextarea rows="5" cols="30" formControlName="txt_especificaciones" class="w-full" styleClass="w-full"
      appUppercase>
    </textarea>
  </div>

  <ng-template pTemplate="footer">
    <button pButton label="Cerrar" icon="pi pi-times" (click)="especificacionDialogVisible = false">
    </button>
  </ng-template>
</p-dialog>