
    <div class="document" #pdfContent id="pdfContent">
        <div class="header">
            PROFORMA 000405
        </div>
        
        <table>
            <tr>
                <td class="label">CLIENTE:</td>
                <td class="value" colspan="3">Gobierno Municipal de San Jacinto de Yaguachi</td>
            </tr>
            <tr>
                <td class="label">RUC:</td>
                <td class="value">0960001700001</td>
                <td class="label" style="width: 15%;">DIRECCIÓN:</td>
                <td class="value">AV. LORENZO DE GARAICOA S/N Y AV. CALDERON</td>
            </tr>
            <tr>
                <td class="label">FECHA:</td>
                <td class="value">7/7/2025</td>
                <td class="label">TELÉFONO:</td>
                <td class="value">SN</td>
            </tr>
            <tr>
                <td class="label">NECESIDAD:</td>
                <td class="value" colspan="3">MC-0960001700001-2025-00077</td>
            </tr>
            <tr>
                <td class="label">FUNCIONARIO ENCARGADO:</td>
                <td class="value">Mgs. Ángel Gabriel Parra</td>
                <td class="label">CORREO:</td>
                <td class="value">compraspublicasmunicipiodeyaguachi.gob.ec</td>
            </tr>
            <tr>
                <td class="label">FECHA MÁXIMA:</td>
                <td class="value">9/7/2025 13:58</td>
                <td colspan="2"></td>
            </tr>
        </table>
        
        <div class="section-header">
            OBJETO DE COMPRA
        </div>
        
        <div style="padding: 8px; text-align: center; font-weight: bold; border-bottom: 1px solid black;">
            ADQUISICION DE PAPEL CONTINUO BOND TROQUELADO PARA LA DIRECCION DE SERVICIOS PUBLICOS Y GESTION AMBIENTAL DEL GADMSJY
        </div>
        
        <table class="specs-table">
            <tr>
                <th style="width: 5%;">N</th>
                <th style="width: 5%;">CP</th>
                <th style="width: 5%;">UNI DAD</th>
                <th style="width: 45%;">ESPECIFICACIONES</th>
                <th style="width: 10%;">CANTIDAD</th>
                <th style="width: 15%;">P. UNIT</th>
                <th style="width: 15%;">P.TOTAL</th>
            </tr>
            <tr>
                <td>1</td>
                <td>CA TA</td>
                <td>UNI DAD</td>
                <td class="description">
                    Papel Continuo 9 ½ x 11"<br>
                    Ancho: 241 cm<br>
                    Largo: 19,7 cm<br>
                    Color: Blanco<br>
                    Bordes: Borde Troquelado<br>
                    Material: Papel Bond<br>
                    Dos Partes: Troquelado por la Mitad
                </td>
                <td>15</td>
                <td>$70.000</td>
                <td>$1.050,00</td>
            </tr>
            <tr class="total-row">
                <td colspan="6" class="right-align">TOTAL:</td>
                <td>$1.050,00</td>
            </tr>
        </table>
    </div>
